*{
    margin: 0;
    padding: 0;
}

/* header */
header{
    height: 55px;
    padding: 5px 30px;
    background-color: rgba(10, 5, 5, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
header h6{
    color: white;
    padding: 0 25px;
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 1.7rem;
}

nav ul{
    display: flex;
    padding: 0 30px;
    text-transform: capitalize;
    list-style: none;
    
}
nav li a{
    color: white;
    text-decoration: none;
    padding: 3px 20px;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.banner{
    background-image: url(images/slider-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
  
}
.banner-text{
  padding: 50px;
  
}
.banner-text h6{
    color: white;
    text-shadow: 2px 3px 5px black;
    padding: 0 25px;
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 5rem;
    margin-top: 90px;
    /* text-align: center; */
}
.banner-text1{
    width: 50%;
    margin: 25px 0;
    padding: 0 40px;
}

.outstanding-text {
    margin: 3px 0;
    font-size: 60px;
    color: #252525;
    padding-bottom: 0px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.coffee_text {
    font-size: 50px;
    color: #fdfcfa;
    font-weight: bold;
    padding-bottom: 0px;
    font-family: "poppins";
}
.banner-text1 p{
    font-family: "poppins";
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
    font-weight: normal;
}
.learnmore-bt{
    margin-top: 30px;
    width: 100%;
}
.learnmore-bt a{
    padding: 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    
}

/* CONTENTT */
.content-row{
    width: 60%;
    margin: auto;
    padding: 30px;
    text-align: center;
}
.content-row h4{
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 1.9rem;
    margin-top: 10px;
}
.content-row p{
    font-family: "poppins";
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: normal;
}
.content-row a{
    padding: 10px;
    color: white;
    background-color: rgba(10, 5, 5, 0.76);
    text-decoration: none;
    text-transform: uppercase;
}

/* SECTIONS */
.view{
    background-color: rgb(243, 239, 239);
}

.view-point{
    margin: auto;
    width: 90%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.type-image{
    width:  40%;
    /* border: solid; */
    /* height: 500px; */
    overflow: hidden;
    margin-top: 40px;
    
}
.type-image img{
    width: 100%;
}

.type-image h3{
    margin-top: 70px;
    margin-bottom: 10px;
    text-transform: capitalize;
    
    font-size: 1.9rem;
    font-family: "poppins";
    font-weight: bold;
}
.about_text{
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: "poppins";
}

/* testimonial */
.testimony{
    width: 70%;
    margin: auto;
    text-align: center;
}
.test-img{
    margin-top: 50px;
}
.test-test h6{
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-family: "poppins";
    font-weight: bold;
}
.test-test p{
    font-family: "poppins";
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: normal;
}


/* FOOTERR */
.footer{
    background-color: rgba(10, 5, 5, 0.76);
    padding: 20px;
}
.footer-col{
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.cols{
    width: 30%;
    text-align: center;

}
.cols h6{
    color: #FED628;
    padding: 0 25px;
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 1.7rem;
}

.cols p{
    font-family: "poppins";
    font-size: 1.4rem;
    text-transform: capitalize;
    color: white;
    font-weight: normal;
}
.cols h5{
    color: #FED628;
    
    text-transform: uppercase;
    font-family: "poppins";
    font-size: 1.7rem;
}